<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="/assets/logo.png" alt="敦煌外贸" height="40">
    </a>

    <!-- 响应式菜单 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/categories.html">商品分类</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order.html">我的订单</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news.html">公司公告</a>
        </li>
      </ul>

      <!-- 搜索框 -->
      <form class="d-flex" action="/search.html">
        <input class="form-control me-2" type="search" placeholder="搜索商品/订单">
        <button class="btn btn-outline-light" type="submit">搜索</button>
      </form>
    </div>
  </div>
</nav>